<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  
  <!-- si occupa di chiamare stylesheet e javascript-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- previene attacchi maliziosi -->
  <%= csrf_meta_tags %>


</head>
<body>

  <%= yield %>

</body>
</html>
