<!DOCTYPE html>
<html>
  <head>
    <!-- Richiamo metodo helper per il titolo -->
    <title><%= full_title(yield(:title)) %></title>
    <!-- si occupa di chiamare stylesheet e javascript-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <!-- previene attacchi maliziosi -->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- istruzione che esegue ed incorpora nell'html il risutlato dell'invocazione dello yield nella pagina relativa -->
    <%= yield %>
  </body>
</html>