<!-- Aggiunti partials per header e shim -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Richiamo metodo helper per il titolo -->
    <title><%= full_title(yield(:title)) %></title>
    <!-- si occupa di chiamare stylesheet e javascript, uso notazioen hash ruby 1.9.3-->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <!-- previene attacchi maliziosi -->
    <%= csrf_meta_tags %>
    <!-- reference a partials dello shim -->
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <!-- aggiungo reference partial header -->
    <%= render 'layouts/header' %>
    <!-- istruzione che esegue ed incorpora nell'html il risutlato dell'invocazione dello yield nella pagina relativa -->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- creo output di debug pagina solo in dev -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>